<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Football Vault</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
            data-target="{{ url_for('main.home') }}collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.explore') }}">Explore</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.contact') }}">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ url_for('main.home') }}" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Shop <i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="badge badge-secondary">{{ cart_size }}</span></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{{ url_for('shop.index') }}">Products</a>
                        <a class="dropdown-item" href="{{ url_for('shop.cart') }}">Cart</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ url_for('main.home') }}" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Teams</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{{ url_for('main.home') }}">Action 1</a>
                        <a class="dropdown-item" href="{{ url_for('main.home') }}">Action 2</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav m1-auto">
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>